.app{
  text-align:center;
  font-family: Impact, Haettenschweiler, sans-serif;
}


.wrapper{
  display: block;
  justify-content: center;
  
  
}
.content{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  min-height: 400px;
  border: 2px solid black;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGQe4rSZybA25BgOKfB0hGgnEfEo3kU5UjDQ&usqp=CAU);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px 400px;
  background-color: rgb(250, 194, 148);
}
.grocery-list,.shoppingCart-list{ 
  background-color: rgb(250, 194, 148); 
  border: 2px solid black;
  min-width: 250px;
  margin: 20px;
  padding: 10px;
}



.app-header header{
  display: flex;
  justify-content: center;
  border: 2px solid rgb(90, 14, 14);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(165, 42, 79);
  width: 70%;
  margin: auto;
  background:linear-gradient(rgb(62, 163, 62) 50%,white 50%) ;
  
}
.list{
  display: block;
  padding: 10px;

}
.list-item{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  list-style: none;
  cursor: pointer;
  color: rgba(46, 4, 4, 0.692);
}

.shopping-list,.groceries{
  min-height: 300px;
  border: brown 2px solid;
}
